<header class="b-header">
  <a href="/" class="b-header__logo">1ven.me</a>
  <div class="b-header__social">
    <a target="_blank" href="//github.com/1ven" class="b-header__social-item">
      {% include svg/github.svg %}
    </a>
    <a target="_blank" href="//stackoverflow.com/users/6041631/1van" class="b-header__social-item">
      {% include svg/stack-overflow.svg %}
    </a>
    <a target="_blank" href="//linkedin.com/in/ivan-mironchik-6652ab117" class="b-header__social-item">
      {% include svg/linkedin.svg %}
    </a>
    <a target="_blank" href="//twitter.com/1ven_mironchik" class="b-header__social-item">
      {% include svg/twitter.svg %}
    </a>
    <a target="_blank" href="//facebook.com/1ven.mironchik" class="b-header__social-item">
      {% include svg/facebook.svg %}
    </a>
    <a target="_blank" href="#" class="b-header__social-item">
      {% include svg/slack.svg %}
    </a>
  </div>
</header>
