.b-container {
  width: 80%;
  max-width: 710px;
  margin: 0 auto;
}

.b-post {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: #EBF2F6 1px solid;
  position: relative;
  &__header {
    margin-bottom: 13px;
  }
  &__title {
    margin-bottom: 0;
  }
  &__link {
    text-decoration: none;
  }
  &__excerpt {
    p {
      font-size: 16px;
    }
  }
  &__meta {
    margin-top: 15px;
    color: #9EABB3;
    font-size: 15px;
  }
  &:after {
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: #FFF;
    border-radius: 100%;
    box-shadow: #FFF 0 0 0 5px;
  }
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
    &:after {
      display: none;
    }
  }
}

.b-full-post {
  &__title {
    margin-bottom: 0;
  }
  &__date {
    font-size: 14px;
    color: #9EABB3;
  }
  &__header {
    margin-bottom: 34px;
  }
}

.b-header {
  width: 85%;
  margin: 25px auto 50px;
  padding-bottom: 25px;
  border-bottom: #EBF2F6 1px solid;
  display: flex;
  align-items: center;
  &__social {
    margin-left: auto;
    display: flex;
  }
  &__social-item {
    margin-left: 10px;
    width: 16px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__logo {
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
  }
}

.b-footer {
  padding: 25px 0;
  border-top: #EBF2F6 1px solid;
  width: 85%;
  margin: 50px auto 0;
  text-align: center;
  font-size: 14px;
  color: #9EABB3;
}
