.b-container {
  width: 80%;
  max-width: 710px;
  margin: 0 auto;
}

.b-post {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: #EBF2F6 1px solid;
  position: relative;
  &__header {
    margin-bottom: 13px;
  }
  &__title {
    margin-bottom: 0;
  }
  &__link {
    text-decoration: none;
  }
  &__excerpt {
    p {
      font-size: 16px;
    }
  }
  &__meta {
    margin-top: 15px;
    color: #9EABB3;
    font-size: 15px;
  }
  &:after {
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: #FFF;
    border-radius: 100%;
    box-shadow: #FFF 0 0 0 5px;
  }
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    &:after {
      display: none;
    }
  }
}

.b-full-post {
  &__title {
    margin-bottom: 0;
  }
  &__date {
    font-size: 14px;
    color: #9EABB3;
  }
  &__header {
    margin-bottom: 34px;
  }
}
