---
layout: default
---
<article class="b-full-post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="b-full-post__header">
    <h1 class="b-full-post__title" itemprop="name headline">{{ page.title }}</h1>
    <section class="b-full-post__meta">
      <time class="b-full-post__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    </section>
  </header>

  <div class="b-full-post__content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.comments %}
    <div class="b-full-post__comments">
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
            this.page.url = document.location.href.split('?')[0].split('#')[0];
            this.page.identifier = this.page.url;
        };
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//1ven.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  {% endif %}

</article>
